build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake
build/libsqlite3.a
build/Makefile.cmake
build/tmp/
build/editor.db*
build/err.txt
build/help.txt
editor.db-shm
editor.db-wal
*.suo
*.user
*.ncb
*.sdf
*.opensdf
.vs/
.idea/
*.swp
*~
.DS_Store

netcontrol/
